<h1 class="center">About MK-Blog</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <p class="lead">A simple yet powerful blog application created using Ruby on Rails. It is fully functional with features such as user login/logout, admin role and the ability to add comments on articles. More to come in time, until then please enjoy the application and remember: Any improper articles and/or comments will be deleted by the admin.
      </p>
    </div><!--well-->
  </div><!--col-->
</div><!--row-->

